body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: antiquewhite;
}


#playButton {
    position: relative;
    top: 50px; /* Adjust this value to set the desired distance below the canvas */
    display: block;
    margin: 0 auto; /* Center the button horizontally */
    width: 250px;
    height: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: large;
    border-radius: 10px;

}

