body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


/* This is for the canvas */
#board {
    position: relative;
    background-color: antiquewhite;
    border-bottom: 1px solid black;
    
    background-image: url("Assets/fantasy-512-x-256_full.png");
}

#playButton {
    position: relative;
    top: 10px; /* Adjust this value to set the desired distance below the canvas */
    display: block;
    margin: 0 auto; /* Center the button horizontally */
    width: 150px;
    height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: medium;
    border-radius: 20px;

}

#instructions {
    position: relative;
    margin-top: 20px; /* Optional: Add some margin between the button and instructions */
    text-align: center;
}