body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


/* This is for the canvas */
#board {
    position: relative;
    background-color: antiquewhite;
    border-bottom: 1px solid black;
    
    background-image: url("Assets/fantasy-512-x-256_full.png");
}

#playButton {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 150px;
    height: 50px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: medium;

    border-radius: 20px;

}