@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700");

body {
    text-align: center;
    background: #f0f0f0;

    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: #777;
    line-height: 1.65em;
    font-size: 15pt;
    
}

/* This is for the canvas */
#board {
    position: relative;
    background-color: antiquewhite;
    border-bottom: 1px solid black;
    
    /* background-image: url("Assets/fantasy-512-x-256_full.png"); */
    background-image: url("Assets/background.png");
}

#playButton {
    position: relative;
    top: 10px; /* Adjust this value to set the desired distance below the canvas */
    display: block;
    margin: 0 auto; /* Center the button horizontally */
    width: 150px;
    height: 50px;
    border-radius: 20px;


    background: #ed786a;
    color: #fff !important;
    text-transform: uppercase;
    border-radius: 4px;
    border: 0;
    outline: 0;
    font-size: 1em;
    box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
    font-weight: 700;
    text-align: center;
    font-size: 0.85em;
    letter-spacing: 2px;

}
#playButton:hover{
    background: #fd887a;
}

#instructions {
    position: relative;
    margin-top: 20px; /* Optional: Add some margin between the button and instructions */
    text-align: center;
}

#isSound {
    position: relative;
    margin-top: 10px; /* Optional: Add some margin between the button and instructions */
}

